.la-shortcode-maps{
  .vc_row-o-equal-height & {
    height: 100%;
  }
  .la-maps-inner{
    min-height: 100%;
  }
}
.map_info_text {
  padding: 10px 0 0 10px;
  h4{
    margin-top: 0;
  }
  .la-contact-info{
    margin-bottom: 15px;
    .la-contact-item{
      padding-left: 30px;
    }
  }
}
.gm-style > div:first-child > div:nth-child(3) > div:nth-child(4) > div > div:first-child{
  >div:nth-child(1){
    display: none;
  }
  >div:nth-child(2){
    background-color: #fff !important;
    @include box-shadow(none !important);
  }
  >div:nth-child(3){
    > div > div{
      @include box-shadow(none !important);
    }
  }
}