.header--aside:not(#masthead_aside) {
  position: fixed;
  top: 0;
  width: 400px;
  background-color: #fff;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(all 400ms ease-out);
  @include translate2d(400px,0);
  &.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
  }
  .header-aside-inner{
    padding: 70px 60px 0;
  }
  .header-aside-nav{
    margin-bottom: 50px;
    padding-right: 40px;
    margin-right: -40px;
  }
}
.header--aside {
  .header-widget-bottom{
    .widget{
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
    }
    .widget-title{
      font-size: 20px;
    }
    #sb_instagram{
      margin-left: -5px;
      margin-right: -5px;
      width: auto !important;
    }
  }
}
.header-v8{
  .site-header{
    .header-toggle-menu a.btn-aside-toggle{
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin-top: -10px;
      margin-bottom: -10px;
      color: #fff;
      background-color: $secondary-color;
      margin-left: 20px;
      @include border-radius(50%);
      &:hover{
        color: #fff !important;
        background-color: $primary-color !important;
      }
    }
  }
  &.enable-header-transparency{
    .site-header:not(.is-sticky) {
      .header-toggle-menu a.btn-aside-toggle {
        color: #444;
        background-color: #fff;
      }
    }
  }
}
#header_aside{
  @include box-shadow(0px 0px 87px 0px rgba(0, 0, 0, 0.09));
  .header-aside-wrapper {
    display: block;
    height: 100%;
  }
  .header-aside-inner{
    overflow: auto;
    height: 100%;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
  }
  .btn-aside-toggle{
    position: absolute;
    left: -66px;
    top: 0;
    background: #343538;
    z-index: 9;
    width: 66px;
    height: 66px;
    color: #fff;
    line-height: 66px;
    text-align: center;
    font-size: 32px;
    i{
      line-height: inherit;
      transition: all .3s ease-in-out;
      display: inherit;
    }
    &:hover{
      background: $primary-color;
      > i{
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        ms-transform: rotate(90deg);
      }
    }
  }
  .menu{
    li{
      a{
        display: block;
        padding: 10px 0;
      }
      > .narrow{
        width: 30px;
        text-align: right;
        right: -25px;
        top: -1px;
        i{
          width: 14px;
        }
      }
    }
    > li{
      > a{
        font-size: 20px;
        font-weight: bold;
      }
      > .narrow{
        top: 3px;
      }
    }
  }
}

.open-header-aside{
  #header_aside{
    visibility: visible;
    opacity: 1;
    @include translate2d(0,0);
  }
}

#masthead_aside{
  position: absolute;
  top: 0;
  width: 380px;
  background-color: #fff;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  .site-branding{
    float: none;
    margin: 0;
    line-height: normal;
    max-width: 100%;
  }
  .header-left{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
  }
  .header-right{
    float: left;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    [class*="header-toggle-"]{
      float: none;
      display: inline-block;
    }
    .header-search-form,
    .header_shopping_cart{
      left: 0;
      right: auto;
      width: 380px;
    }
  }
  .site-header-inner {
    padding: 80px 25px 80px 50px;
  }
  .header-aside-nav{
    .mega-menu > li{
      padding: 0;
      > a{
        padding: 15px 30px;
        text-transform: uppercase;
      }
    }
  }
  .header-widget-bottom{
    margin-top: 50px;
    .widget{
      padding: 0;
    }
  }
}
.header-v10,
.header-v9{
  #page.site{
    padding-left: 380px;
  }
}

.header-v9{
  #masthead_aside{
    .header-aside-nav{
      .mega-menu > li{
        border-bottom: 1px solid $border-color;
        > a{
          font-weight: bold;
        }
      }
    }
  }
}
.header-v10 {
  #masthead_aside {
    .header-aside-nav {
      .mega-menu > li {
        > a{
          text-align: center;
          letter-spacing: 2px;
        }
      }
    }
  }
}
