html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index:1;
  height: 100%;
  overflow: hidden;
  position: relative;
  @include transition(all 0.3s ease-out);
}
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout:fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  @include translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
  overflow: hidden;
  position: relative;
}
.fp-scroller{
  overflow: hidden;
}
.iScrollIndicator{
  border: 0 !important;
}
.fp-notransition {
  @include transition(none !important);
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  @include opacity(1);
  @include translate3d(0,0,0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
.fp-slidesNav{
  position: absolute;
  z-index: 4;
  left: 50%;
  @include opacity(1);
  @include translate3d(0,0,0);
}
.fp-slidesNav.bottom {
  bottom: 17px;
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position:relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  @include transition(all 0.1s ease-in-out);
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  width: auto;
  opacity: 1;
  @include transition(opacity 0.2s ease-in);
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive .fp-scrollable{
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive .fp-scrollable .fp-scroller{
  transform: none !important;
  -webkit-transform: none !important;
  will-change: none !important;
}

#la_full_page .la_fp_fixed_top{
  position: fixed !important;
  z-index: 999999;
  top: 0;
  width: 100%;
}
#la_full_page .la_fp_fixed_bottom{
  position: fixed !important;
  z-index: 999999;
  bottom: 0;
  width: 100%;
}

.animated{
  .animated{
    animation-delay: 350ms;
    .animated{
      animation-delay: 550ms;
    }
  }
}

.la-enable-fullpage{
  .la_fp_section{
    padding-left: 0;
    padding-right: 0;
    &,
    .la_fp_child_section{
      margin-left: 0;
      margin-right: 0;
    }
    .la_fp_child_section{
      &.vc_row-o-full-height{
        min-height: 100vh !important;
      }
    }
    .fp-scroller .vc_row-o-full-height{
        min-height: 0 !important;
    }
    .la_reinit_animation:not(.wpb_start_animation){
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    /*full height mode */
    &.la-section-type-off{
      >.vc_row,
      > .fp-tableCell > .vc_row{
        height: 100%;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        >.vc_column_container {
          display: flex;
          display: -webkit-flex;
          > .vc_column-inner{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
        }
      }
    }
  }

  #site-content{
    padding-left: 0;
    padding-right: 0;
  }
  .site-main{
    > .container{
      width: 100%;
    }
    .fp-slidesContainer{
      > .vc_row{
        margin-left: 0;
        margin-right: 0;
      }
    }
    .vc_row-o-equal-height{
      > .fp-tableCell{
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        > .vc_column_container{
          display: flex;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          > .vc_column-inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.fp-section{
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 300ms ease;
    pointer-events: none;
  }
  &.fp-completely{
    &.active{
      &:after{
        transform: scale(2);
        opacity: 0;
      }
    }
    &:not(#colophon){
      &:not(.active){
        &:after{
          opacity: .9;
          transition: all 400ms ease;
          background-color: #dcdcdc;
        }
      }
    }
  }
  &.last-before-footer{
    &:after{
      opacity: 0 !important;
    }
  }
}

.fp-responsive{
  .fp-section:after{
    display: none;
  }
}

.la-fp-arrows{
    .fp-nav-control-type-1 &{
      display: none;
    }
}

.fp-nav-control-type-2{
  #fp-nav{
    display: none;
  }
  &.fp-nav-control-position-right{
    .la-fp-arrows{
      right: 40px;
    }
  }
  .la-fp-arrows{
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    @include translate2d(0,-50%);
    .total{
      display: none;
    }

    li{
      display: block;
      text-align: center;
      cursor: pointer;
      color: #343538;
      opacity: 0.4;
      i{
        font-family: "optima";
        font-style: normal;
        font-size: 32px;
        font-weight: normal;
      }
      &:hover{
        opacity: 1;
      }
    }
    .num{
      font-weight: bold;
      opacity: 1;
    }
    .prev i:before{
      content: "\42";
    }
    .next i:before{
      content: "\43";
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}


#la_full_page #colophon {
  display: block;
  width: 100%;
  height: auto!important;
  .fp-tableCell{
    display: block;
  }
}